/* Style.css */

body {
    background-color: #eee;
    font-family: "Nunito", sans-serif;
}


div.page {
    width: 60%;
    margin: 15vh auto;
    background: #fff;
    box-shadow: 2px 3px 10px #aaa;
    padding: 50px 60px;
    border-radius: 2px;
    min-height: 100vh;
    display: flex;
}

div.editor {
    width: 100%;
    min-height: 100%;
    display: inline-block;
}

div.editor:focus {
    outline: none;
}

/* Future Header */
header {
    background: #000080;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    box-shadow: 0 2px 5px #aaa;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
