/* Style.css */

body {
    background-color: #eee;
    font-family: "Nunito", sans-serif;
}

.mono {
    font-family: monospace;
}

.container {
    position: relative;
    width: 100%;
}

.editorDisplay p {
    margin: 0;
    display: inline;
}

.cursor {
    animation: 1s linear infinite condemned_blink_effect;
    width: 0.15em;
    height: 1em;
    display: inline-block;
    margin: 0;
    background-color: black;
    vertical-align: baseline;
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.math-wrapper, .math-wrapper > div {
    display: inline;
}

.inline, .inline div:last-child {
    display: inline;
    word-wrap: break-word;
}

div.page {
    width: 60%;
    margin: 15vh auto;
    background: #fff;
    box-shadow: 2px 3px 10px #aaa;
    padding: 50px 60px;
    border-radius: 2px;
    min-height: 100vh;
    display: flex;
    position: relative;
}

div.editorOverlay, div.editorDisplay {
    width: 100%;
    min-height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

div.editorOverlay {
    color: rgba(0,0,0,0);
}

div.editorOverlay:focus {
    outline: none;
}

div.editorDisplay {
    position: relative;
}

/* Future Header */
header {
    background: #000080;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    box-shadow: 0 2px 5px #aaa;
    z-index: 1;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 8px;
    margin-left: 20px;
    float: left;
}

select {
    -webkit-appearance: none;
    color: #fff;
    background-color: #000080;
    padding: 16px 10px;
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
